.home {
  padding-top: 45px;

  margin-left: 45px;
  margin-right: 45px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 45px;

    &__title {
      align-self: center;
      color: #000;

      font-size: 32px;
      font-weight: 700;
    }

    &__search {
      display: flex;
      flex-direction: row;

      img {
        display: block;
        border-radius: 10px 0 0 10px;
        border: 1px solid #F3F3F3;
        border-right: 0;
        padding: 15px;
      }
    }
  }
}