.favoritesList {
  display: grid;

  justify-content: center;

  gap: 40px;

  grid-template-columns: repeat(2, 210px);

  @media (min-width: 680px) {
    grid-template-columns: repeat(2, 210px);
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 210px);
  }

  @media (min-width: 1080px) {
    grid-template-columns: repeat(4, 210px);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(5, 210px);
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(6, 210px);
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(7, 210px);
  }
}